.musics-title {
    font-family: IBM Plex Mono, monospace;
    font-size: 32px;
    font-weight: lighter;
    padding-top: 20px;
    width: 50%;
    margin-top: 80px;
    margin-left: 20%;
    margin-bottom: 40px;
}