h1 {
    font-size: 48px;
    font-weight: 500;
    font-family: Inter, sans-serif;
    padding-left: 100px;
    padding-top: 100px;
}
p {
    font-family: IBM Plex Mono, monospace;
    font-size: 16px;
    font-weight: lighter;
    padding-top: 20px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 80px;
}
